body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(154, 12, 243);
}

.quiz-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

h1 {
    text-align: center;
}

#question-container {
    text-align: center;
    padding: 10px;
}

#options-container {
    margin: 20px 0;
}

button {
    padding: 10px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:active {
    background-color: #4fa3d1;
}

#result-container {
    display: none;
}